/**
 * @name The Morbidium Fantasy
 * @author MorbidMeta
 * @authorId 366436594162597889
 * @authorLink https://hyperfollow.com/MorbidMeta
 * @version 3.2.1
 * @description The bliss of a fantasy world with the essence of the night...
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root {
  --gap-size: 1em;

  --b-radius: 14px;
  --b-width: 3px;

  --bg-opacity: 0.6; /* (from 0 - 1) */

  --squeeze-in: 10%;
  --glass: rgba(0, 0, 0, var(--bg-opacity)) var(--squeeze-in);

  --accent-1: 57, 111, 142;
  --accent-2: 103, 168, 187;

  --accent-linear: linear-gradient(135deg, rgb(var(--accent-1)), rgb(var(--accent-2)));

  --bg: url("https://github.com/demonetizeddark/wallpaperrepository/blob/main/lb-1.jpg?raw=true");
  --the-hex: url("https://raw.githubusercontent.com/demonetizeddark/wallpaperrepository/main/MM_hex.svg");

  /* Global Discord VARIABLE RESET */
  --text-link: rgb(var(--accent-2));
}


@keyframes backdrop-in {
  from {background-size: 150%;}
  to {background-size: 100%;}
}

@keyframes ping {
  0% {filter: brightness(3) drop-shadow(0 0 10px #fff);}
  75%, 100% {filter: brightness(1);}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes textShine {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}

body, .appMount_fae9dd {
  background: var(--bg) !important;
  background-size: cover !important;
  background-position: center;
}
.app__00c92, .app_de4237 {
  background: none
}
.bg__12180 {
  background: none;
}

.appAsidePanelWrapper__714a6 {
  padding: var(--gap-size);
  padding-top: calc(var(--gap-size) * 2);
}

/* Custom Home Icon */
.childWrapper__01b9c > svg > path {
    fill: transparent
}
.childWrapper__01b9c {
    background: var(--the-hex) center/60% no-repeat;
    min-width: 60px;
    min-height: 60px;
}

.wrapper_d281dd:hover .childWrapper__01b9c, .wrapper_d281dd.selected_f5ec8e .childWrapper__01b9c {
  background-color: rgb(var(--accent-2));
}

/* Add background to loading screen */
.loading-1yrGTe {
  background: url("https://github.com/demonetizeddark/wallpaperrepository/blob/main/lb-1.jpg?raw=true") center/cover no-repeat
}
.container__4bde3 {
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), var(--bg) !important;
  background-size: cover;
  background-position: center;
  background-color: transparent;
    backdrop-filter: blur(50px)
}
.container__4bde3 video.ready__61f2f {
    mix-blend-mode: overlay
}

/* TypeMAC: */
.typeMacOS-3V4xXE {
  margin: var(--gap-size);
}

/* Servers */
.platform-osx .wrapper_a7e7a8 {
  margin-top: 0;
  padding-top: 1em;
  border-radius: var(--b-radius) 0 0 var(--b-radius);
  border: var(--b-width) solid #000;
  background: var(--glass);
}
.wrapper_a7e7a8 {
  margin-top: 0;
  border-radius: var(--b-radius) 0 0 var(--b-radius);
  border: var(--b-width) solid #000;
  background: var(--glass);
}
.theme-dark .scroller-3X7KbA {
  background: none
}
.base__92a12 {
  background-color: rgb(var(--accent-1)) !important;
}
.listItem-3SmSlK > .pill-2RsI5Q > .item-2LIpTv {
  transition: background 200ms ease;
}
.listItem-3SmSlK:hover > .pill-2RsI5Q > .item-2LIpTv{
  background: rgb(var(--accent-1));
}
/* Server Folders */
.folder__17546 {
  background: rgba(var(--accent-1),1);
  box-shadow: inset 0 0 0 2px rgb(var(--accent-1)), inset 0 0 5px 2px rgb(var(--accent-2));
  border-radius: 16px;
}
.folder__17546.hover-3m7-WT {
  background: rgba(var(--accent-2),1);
}
.expandedFolderBackground__1bec6 {
  background: rgba(0,0,0,0.5)
}
.expandedFolderIconWrapper__458cf {
  filter: drop-shadow(0 2px 1px #000);
}
/* Add & Discover server buttons */
.circleIconButton_d8df29 {
  color: rgb(var(--accent-2));
  background: var(--glass) !important;
}
.circleIconButton_d8df29.selected__5250e {
  color: var(--white-500);
  background: rgb(var(--accent-2)) !important;
}

/* GOT A PING ⁉️⁉️ */
.lowerBadge__669e7 {
  animation: ping 469ms cubic-bezier(0,0,.2,1) infinite;
}

/* Channels */
.clickable__2d589 {
  margin-bottom: var(--gap-size);
}
.container__590e2 {
  background: none !important;
  margin-bottom: var(--gap-size);
}
.sidebar_ded4b5 {
  background: none;
  margin: 0 var(--gap-size);
}
.scroller_f0f183 {
  background: var(--glass);
  border: var(--b-width) solid #000;
}
.modeSelected__487d6 .link__95dc0 /* Selected Channel */  {
  background: var(--accent-linear);
}
.content-1gYQeQ, .content-1gYQeQ:hover > a > .channelName-3KPsGw {
  transition: 100ms ease;
}

/* If someone is talking */
.avatarSpeaking__61fb1 {
  box-shadow: inset 0 0 0 2px rgb(var(--accent-1)),inset 0 0 0 3px var(--background-secondary);
}
.avatarSpeaking_c95053 {
  box-shadow: inset 0 0 0 2px rgb(var(--accent-2)),inset 0 0 0 3px var(--background-secondary);
}

/* User & Voice Panels */
.panels__58331 {
  background: var(--glass);
  border: var(--b-width) solid #000
}
.theme-dark .container_ca50b9 {
  background: none
}
.container_d667ff {
  background: none
}
/* Panel Buttons */
.button__66e8c .buttonColor_a6eb73, .button__66e8c.buttonColor_a6eb73 {
  background: rgb(0,0,0,0);
  box-shadow: inset 0 0 5px 0px rgb(var(--accent-2));
  text-align: center;
  border: 1px solid #333;
  transition: all 200ms ease;
}
.button__66e8c .buttonColor_a6eb73:hover, .button__66e8c.buttonColor_a6eb73:hover {
  background: rgba(var(--accent-1),1);
  box-shadow: inset 0 0 5px 2px rgb(var(--accent-2));
  text-shadow: 0 2.5px 3px #000;
  text-align: center;
  border: 1px solid rgb(var(--accent-1));
  color: #fff;
}

/* Main Container */
.chat__52833 {
  background-color: transparent;
}
.title_b7d661 {
  margin-bottom: var(--gap-size);
}
.content__1a4fe:before {
  box-shadow: none;
}

/*If LOADING*/
.wrapper__3d460, .wrapper__5c5cd {
  background: none
}

/* Tooltips */
.theme-dark .tooltipPrimary_e5c00d, .theme-light .tooltipPrimary_e5c00d {
  background: linear-gradient(135deg, rgb(var(--accent-1)) 10%, rgb(var(--accent-2)));
}
.theme-dark .tooltipPrimary_e5c00d .tooltipPointer_a79354, .theme-light .tooltipPrimary_e5c00d .tooltipPointer_a79354 {
  border-top-color: rgb(var(--accent-1));
}
.moreUsers-_v6T-L {
  background: rgb(var(--accent-1))
}

/* Autocomplete */
.theme-dark .autocomplete-3NRXG8 {
  background: var(--glass);
  box-shadow: none;
}
.autocompleteAttached-bt_md- {
  bottom: calc(100% + 0px);
}
.scroller-2MALzE::before {
  content: "";
  background: var(--glass);
  position: sticky;
  height: 100%;
  width: 100%;
  z-index: 4;
}

/* Chat Window */
.chatContent__5dca8 {
  background: var(--glass);
  border: var(--b-width) solid #000;
}
.theme-dark .form__13a2c:before {
  background: none
}

/* Message Buttons */
.wrapper_c727b6 {
  background: var(--accent-linear);
}
.button_d553e5 {
  transition: background 200ms ease;
}
.button_d553e5:hover {
  background:rgba(0, 0, 0, 0.2)
}
/* Context Menus */
.menu_dc52c6 {
  background: var(--accent-linear)
}
/* Context Menu Items */
.item__183e8 {
  transition: 200ms ease;
}
.customItem__7173b:hover > .button__3ecb4 {
  background: rgba(var(--accent-1),1);
  box-shadow: inset 0 0 5px 2px rgb(var(--accent-2));
  text-shadow: 0 2.5px 3px #000;
  border: 1px solid rgb(var(--accent-1));
  color: #fff;
}
.button__3ecb4 {
  background: rgb(0,0,0,0.2);
  box-shadow: inset 0 0 5px 0px rgb(var(--accent-2));
  border: 1px solid #333;
  transition: all 200ms ease;
}
.colorDefault__0b482.focused__27621 {
  background:rgba(0, 0, 0, 0.2)
}
.colorDanger_eec36d.focused__27621 {
  background: rgba(250, 128, 114,1);
  box-shadow: inset 0 0 5px 2px rgb(71, 36, 32);
  text-shadow: 0 2.5px 3px #000;
  border: 1px solid salmon;
  color: #fff;
}

/* // EMBEDS AND EXTRA CHAT SHIT ################################################### */
.theme-dark .wrapperAudio__555ce {
  background: var(--glass);
  border: var(--b-width) solid #000;
}
.mediaBarInteraction__0633c:hover .mediaBarGrabber_c64ff9 /*progress dot*/{
  background-color: rgb(var(--accent-1));
}
.mediaBarProgress__29db2 {
  background: var(--accent-linear);
}
/*pseudos*/
.mediaBarProgress__29db2:before {background-color: rgb(var(--accent-1));}
.mediaBarProgress__29db2:after {background-color: rgb(var(--accent-2))}

.mediaBarWrapper_f312bd {
  background-color: rgb(12, 12, 12);
}
.buffer_e14781 /* buffer line */{
  background-color: rgb(var(--accent-2))
}

/*media bar pseudos for cleanup*/
.mediaBarWrapper_f312bd:before, .mediaBarWrapper_f312bd:after {
  background-color: rgb(12,12,12);
}
/* // EMBEDS AND EXTRA CHAT SHIT ################################################### */

/* Channel Header */
.theme-dark .themed_b152d4 {
  border-radius: 0 var(--b-radius) 0 0;
  border: var(--b-width) solid #000;
  background: var(--glass)
}

/* Member List */
.container_b2ce9c {
  margin-left: var(--gap-size);
  border-radius: 0 0 var(--b-radius) 0;
  background: var(--glass);
  border: var(--b-width) solid #000;
  height: auto;
}
.member_b44d5d, .members__9f47b {
  background-color: transparent;
}

/* BOT icons */
.botTagRegular_c89c9a {
  background: var(--accent-linear);
}

/* mentioned */
.mentioned__58017:before {
  background: rgb(var(--accent-1))
}
.mentioned__58017 {
  background: linear-gradient(to right, rgba(var(--accent-1), 0.3), rgba(var(--accent-2), 0.2));
}
.message__80c10.mentioned__58017.selected_fd9051, .mouse-mode.full-motion .mentioned__58017:hover {
  background: linear-gradient(to right, rgba(var(--accent-1), 0.5), rgba(var(--accent-2), 0.4))
}

/* unread/"NEW" icons */
.mention-3XBnnZ {
  background: linear-gradient(to right, rgb(var(--accent-1)), rgb(var(--accent-2)))
}
.numberBadge-37OJ3S {
  background: linear-gradient(45deg, rgb(var(--accent-1)), rgb(var(--accent-2)))
}

.divider_b9338f {
  border-color: rgb(var(--accent-2));
}
.unreadPill__715fc {
  background-color: rgb(var(--accent-1));
}
.unreadPillCapStroke__12c0b {
  fill: rgb(var(--accent-1));
  color: rgb(var(--accent-1));
}

.channelTextArea__2e60f {
  background: var(--glass)
}
.themedBackground__6b1b6 {
    background: none;
}
.scrollableContainer-15eg7h {
  background: none
}
.newMessagesBar__8b6d7 {
    background: var(--accent-linear)
}

/* ——————————————— User Settings ———————————————— */


/* Remove Overall Background*/
.layer__2efaa, .standardSidebarView__1129a {
  background: none;
}

/* Tag :) */
.sidebar-nqHbhN {
  padding: 10px 6px 60px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  font-size: 1.5em;
}
.sidebar-nqHbhN::after {
  content: "MorbidMeta";
  font-family: 'Montserrat', sans-serif;
  margin: 10px 0 10px;
  background: linear-gradient(to top, rgb(var(--accent-1)), rgb(var(--accent-2)));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/* Left Sidebar */
.sidebarRegion__60457 {
  border-radius: var(--b-radius) 0 0 var(--b-radius);
  border: var(--b-width) solid #000;
  overflow: hidden;
}
.sidebarRegionScroller__1fa7e {
  background: var(--glass);
}

/* Right Container */
.contentRegion__0bec1 {
  background: none;
  margin-left: var(--gap-size);
  border: var(--b-width) solid #000;
  border-radius: 0 var(--b-radius) var(--b-radius) 0;
} 
.contentRegionScroller__86c79 {
  background: var(--glass)
}

/* —————————————— Direct Messages ——————————————— */


/* "Friends" Page */
.container__5c7e7 {
  background: none
}
.tabBody_b3d268 {
  margin-top: var(--gap-size);
}
.tabBody_b3d268:before {
  box-shadow: none;
}
/* Friends List */
.peopleColumn__51df3 {
  background: var(--glass)
}
/* Direct Messages Column */
.searchBar-3TnChZ .searchBarComponent-3N7dCG {
  background: rgb(0,0,0,0);
  box-shadow: inset 0 0 5px 0px rgb(var(--accent-2));
  text-align: center;
  border: 1px solid #333;
  transition: all 200ms ease;
}
.searchBar-3TnChZ .searchBarComponent-3N7dCG:hover {
  background: rgba(var(--accent-1),1);
  box-shadow: inset 0 0 5px 2px rgb(var(--accent-2));
  text-shadow: 0 2.5px 3px #000;
  text-align: center;
  border: 1px solid rgb(var(--accent-1));
  color: #fff;
}
.privateChannels__93473 {
  background: var(--glass);
  margin-bottom: var(--gap-size);
  border: var(--b-width) solid #000;
}
.theme-dark .scroller__4b984 {
  background: none;
}
.selected_d94cf9 {
  background: linear-gradient(135deg, rgba(var(--accent-1), 1), rgba(var(--accent-2), 1));
}

/* Active Now */
.inset__0bfb3, .section_efc22d {
  background-color: transparent !important;
}
.header-Imy05m {
  text-align: center;
}
.header-Imy05m::after {
  content: "";
  display: flex;
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, rgba(var(--accent-1), 0), rgba(var(--accent-2), 1), rgba(var(--accent-1), 0));
}
.nowPlayingColumn_f5023f {
  background: var(--glass);
  border: var(--b-width) solid #000;
  margin-left: var(--gap-size);
}
.wrapper__6e669 {
  background: rgba(0,0,0,0.5);
  border: 1px solid #333;
  transition: all 200ms ease;
}
.theme-dark .outer-2JOHae.active-1W_Gl9, .theme-dark .outer-2JOHae.interactive-2zD88a:hover {
  background-color: transparent;
}
.wrapper-2RrXDg:hover {
  background: rgba(var(--accent-1),1);
  box-shadow: inset 0 0 5px 2px rgb(var(--accent-2));
  text-shadow: 0 2.5px 3px #000;
  border: 1px solid rgb(var(--accent-1));
  color: #fff;
}
.scroller__00e7e {
  border: 0;
  margin: 0;
}
.container__0a6a9 {
  background: none;
}
/* Profile Panel */
.profilePanel-2PWEok {
  background: var(--glass);
  margin-left: var(--gap-size);
  border-radius: 0 0 var(--b-radius) 0;
  border: var(--b-width) solid #000;
}
.userPanelInnerThemed-2xZFjl, .userProfileOuterUnthemed-2b2rsv {
  background: none
}
/* User Profile */
.userPanelInnerThemed__1804b {
  --profile-gradient-overlay-color: hsla(0,0%,0%,0.2);
  background: linear-gradient(135deg, var(--profile-gradient-primary-color),var(--profile-gradient-secondary-color));
  background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}
.container__22d2b /* user and display name */ {
  justify-content: center;
}
.nickname__3d1d7 /* display name */ {
  background: linear-gradient(to right, var(--profile-gradient-primary-color) 20%,var(--profile-gradient-secondary-color), var(--profile-gradient-primary-color) 80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 1s linear infinite forwards;

    text-align: center;
}
.info__40462 /* user name */ {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.customStatus__3aa7f {
  text-align: center;
}

/* Modals */
.backdrop-2ByYRN {
  background: linear-gradient(135deg, rgba(var(--accent-1), 1), rgba(0,0,0,1) 25%, rgba(0,0,0,1) 75%, rgba(var(--accent-2), 1)) !important;
  animation: backdrop-in 300ms ease 1 forwards normal;
}
.root_a28985 {
  background: rgba(0, 0, 0, 0.8);
}
.footer__89240 {
  background: none
}
/* Events */
.header-1sd0RU {
  background: none;
}
.card-8UsK4b {
  background: rgb(0,0,0,0);
  box-shadow: inset 0 0 5px 0px rgb(var(--accent-2));
  border: 1px solid #333;
  transition: all 200ms ease;
}
.card-8UsK4b:hover {
  background: rgba(var(--accent-1),1);
  box-shadow: inset 0 0 5px 2px rgb(var(--accent-2));
  text-shadow: 0 2.5px 3px #000;
  color: #fff;
}
.contentContainer-BWAau5 {
  background: none;
}
.lookOutlined-3RTC7c.colorPrimary-2-Lusz {
  background: rgb(0,0,0,0.5);
  box-shadow: inset 0 0 5px 0px rgb(var(--accent-2));
  border: 1px solid #333;
  transition: all 200ms ease;
}
.lookOutlined-3RTC7c.colorPrimary-2-Lusz:hover {
  background: rgba(var(--accent-1),1);
  box-shadow: inset 0 0 5px 2px rgb(var(--accent-2));
  text-shadow: 0 2.5px 3px #000;
  text-align: center;
  border: 1px solid rgb(var(--accent-1));
  color: #fff;
}

/* BD Error Modal */
.lookFilled__19298.colorBrand_b2253e, .bd-tab-item.selected {
  background: rgb(0,0,0,0);
  box-shadow: inset 0 0 5px 0px rgb(var(--accent-2));
  text-align: center;
  border: 1px solid #333;
  transition: all 200ms ease;
}
.lookFilled__19298.colorBrand_b2253e:hover, .bd-tab-item.selected:hover {
  background: rgba(var(--accent-1),1);
  box-shadow: inset 0 0 5px 2px rgb(var(--accent-2));
  text-shadow: 0 2.5px 3px #000;
  text-align: center;
  border: 1px solid rgb(var(--accent-1));
  color: #fff;
}
.bd-addon-error {
  background: rgb(0,0,0,0);
  box-shadow: inset 0 0 5px 0px rgb(var(--accent-2));
  border: 1px solid #333;
  height: 88px;
  transition: all 200ms ease;
  overflow: hidden;
}
.bd-addon-error:hover {
  background: rgba(var(--accent-1),1);
  box-shadow: inset 0 0 5px 2px rgb(var(--accent-2));
  text-shadow: 0 2.5px 3px #000;
  border: 1px solid rgb(var(--accent-1));
  color: #fff;
}
.bd-addon-error.expanded:not(code) {
  background: rgba(var(--accent-1),1);
  box-shadow: inset 0 0 5px 2px rgb(var(--accent-2));
  text-shadow: 0 2.5px 3px #000;
  border: 1px solid rgb(var(--accent-1));
  color: #fff;
  height: 500px;
}
.bd-addon-error-stack code {
  background: #000
}

.theme-dark .hljs-title, .theme-dark .hljs-title.class_, .theme-dark .hljs-title.class_.inherited__, .theme-dark .hljs-title.function_ {
  color: salmon
}