/**
 * @name The Morbidium Fantasy
 * @author MorbidMeta
 * @authorId 366436594162597889
 * @authorLink https://hyperfollow.com/MorbidMeta
 * @version 3.2.1
 * @description The bliss of a fantasy world with the essence of the night...
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root {
  --gap-size: 1em;

  --b-radius: 14px;
  --b-width: 3px;

  --bg-opacity: 0.6; /* (from 0 - 1) */

  --squeeze-in: 10%;
  --glass: rgba(0, 0, 0, var(--bg-opacity)) var(--squeeze-in);

  --accent-1: 57, 111, 142;
  --accent-2: 103, 168, 187;

  --accent-linear: linear-gradient(135deg, rgb(var(--accent-1)), rgb(var(--accent-2)));

  --bg: url("https://github.com/demonetizeddark/wallpaperrepository/blob/main/lb-1.jpg?raw=true");
  --the-hex: url("https://raw.githubusercontent.com/demonetizeddark/wallpaperrepository/main/MM_hex.svg");
  --the-bad: url();

  --dyk-text: "I don't care. Looks female enough."; /* did you know? */
  --suk-text: "Connection problems? We don't care. Go fuck yourself."; /* connection problems? */

  /* Global Discord VARIABLE RESET */
  --text-link: rgb(var(--accent-2));
  --os-accent-color: rgb(var(--accent-1));
}


@keyframes backdrop-in {
  from {background-size: 150%;}
  to {background-size: 100%;}
}

@keyframes ping {
  0% {filter: brightness(3) drop-shadow(0 0 10px #fff);}
  75%, 100% {filter: brightness(1);}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes textShine {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}

@keyframes speakingEH {
  0%, 100% {
    box-shadow: inset 0 0 0 2px rgb(var(--accent-2));
  }
  50% {
    box-shadow: inset 0 0 0 2px #5865F2;
  }
}


/* MOUSE MODE EXPERIMENT!!!!! */
html > body > .appMount_ea7e65 {
  filter: blur(25px) brightness(0.5);
  opacity: 0.5;
  transition: filter ease 200ms;
}
html.app-focused > body > .appMount_ea7e65 {
  filter: blur(0);
  opacity: 1;
  transition: filter ease 200ms;
}
html::after {
  --gif:url('https://github.com/demonetizeddark/wallpaperrepository/blob/main/a_e2b69aabc7b7ba15d440f3f29c865d49.gif?raw=true');
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--gif) center/cover no-repeat;
  mask-image: var(--the-hex);
  mask-repeat: no-repeat;
  height: 240px;
  width: 208px;
}
html.app-focused::after {
  display: none;
}

body, [class*=appMount_] {
  background: var(--bg) !important;
  background-size: cover !important;
  background-position: center;
}
[class*=app_] [class*=app_] {
  background: none
}
[class*=bg_] {
  background: none;
}

.appAsidePanelWrapper_bd26cc {
  padding: var(--gap-size);
  padding-top: calc(var(--gap-size) * 2);
}

/* AUTH BOX CUH */
.characterBackground_bdd070 .artwork_bdd070 {
  display: none;
}


.authBox_dc6abe[data-theme=dark] {
  background: var(--glass);
  border: #000 solid var(--b-width);
  backdrop-filter: blur(5px);
}

/* Custom Home Icon */
.childWrapper_f90abb > svg > path {
    fill: transparent
}
.childWrapper_f90abb:not(.button_Jt-tIg) {
    background: var(--the-hex) center/60% no-repeat;
    min-width: 60px;
    min-height: 60px;
}

/* Add background to loading screen */
.loading_cea94f {
  /* background: url("https://github.com/demonetizeddark/wallpaperrepository/blob/main/lb-1.jpg?raw=true") center/cover no-repeat */
  background-image: none;
}
.container_e40c16 {
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), var(--bg) !important;
  background-size: cover;
  background-position: center;
  background-color: transparent;
    backdrop-filter: blur(50px)
}
.container_e40c16::before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url('https://i.postimg.cc/B6qFqCkp/1.jpg'), var(--the-bad);
  mix-blend-mode: soft-light;
}
.container_e40c16 video.ready_e40c16 {
    mix-blend-mode: overlay;
    filter: drop-shadow(0 0 5px black);
}

/* loading screen custom font */
.tip_e40c16 {
  font-size: 0%;
}
.tip_e40c16::after{
  content: var(--dyk-text);
  color: var(--text-normal);
  font-size: 16px;
  max-width: 300px;
  line-height: 20px;
}
.problemsText_e40c16 {
  font-size: 0%;
}
.problemsText_e40c16::after {
  content: var(--suk-text);
  font-size: 14px;
  color: var(--header-secondary);
  margin-bottom: 8px;
}

/* remove potential tip keybinds */
.tip_e40c16 .keybind_e40c16 {
  display: none
}

/* Notice */
.notice__5fd4c {
  background-color: rgba(89, 54, 149, var(--bg-opacity));
  border-radius: var(--b-radius);
  margin-bottom: var(--gap-size);
  margin-left: var(--gap-size);
}

/* Pill Selection [needs work] */
.topPill_a0 .themed_a0.item_a0:hover:not(.disabled_a0), .side_a0 .themed_a0.item_a0:hover:not(.disabled_a0) {
  transition: all 50ms ease;
}
.topPill_a0 .themed_a0.selected_a0.item_a0, .side_a0 .themed_a0.selected_a0.item_a0 {
  background: var(--accent-linear);
}

/* Servers */
.platform-osx [class*=wrapper_][class*=guilds_] {
  margin-top: 0;
}
[class*=wrapper_][class*=guilds_] {
  margin-top: 0;
  border-radius: var(--b-radius) 0 0 var(--b-radius);
  border: var(--b-width) solid #000;
  background: var(--glass);
}
/* .base__5ed84 {
  background-color: rgb(var(--accent-1)) !important;
} */
[class*=listItem_] > [class*=pill_] > [class*=item_] {
  transition: background 200ms ease;
}
[class*=listItem_]:hover > [class*=pill_] > [class*=item_] {
  background: rgb(var(--accent-1));
}

/* Server Folders */
[class*=folder_] {
  background: rgba(0,0,0,1);
  box-shadow: inset 0 0 0 2px rgb(var(--accent-1)), inset 0 0 5px 2px rgb(var(--accent-2));
  border-radius: 16px;
}
[class*=folder_][class*=hover_] {
  background: rgba(var(--accent-2),1);
}
[class*=expandedFolderBackground_]{
  background: rgba(255, 255, 255, 0.066);
  width: 40px;
  left: 50%;
  transform: translateX(-50%);
}
[class*=expandedFolderIconWrapper_] {
  filter: drop-shadow(0 2px 1px #000);
}
/* Add & Discover server buttons */
[class*=circleIconButton_] {
  color: rgb(var(--accent-2));
  background: var(--glass) !important;
}
[class*=circleIconButton_][class*=selected_] {
  color: var(--white-500);
  background: rgb(var(--accent-2)) !important;
}

/* GOT A PING ⁉️⁉️ */
[class*=lowerBadge_] {
  animation: ping 469ms cubic-bezier(0,0,.2,1) infinite;
}

/* Channels */
[class*=sidebar_] {
  background: none;
  margin: 0 var(--gap-size);
}
[class*=sidebar_] > [class*=container_] {
  background: none !important;
  margin-bottom: var(--gap-size);
}
[class*=container_] > [class*=clickable_] /* Header */{
  margin-bottom: var(--gap-size);
  border: var(--b-width) solid #000;
  background: var(--glass);
}
[id=channels][class*=scroller_] {
  background: var(--glass);
  border: var(--b-width) solid #000;
}
[class*=modeSelected_] [class*=link_], [class*=modeSelected_]:hover [class*=link_] /* Selected Channel */  {
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), var(--accent-linear);
}

/* If someone is talking */
[class*=avatarSpeaking_],
[class*=border_][class*=speaking_] /* VC view */ {
  animation: speakingEH 1s linear infinite;
}

/* User & Voice Panels */
[class*=panels_] {
  background: var(--glass);
  border: var(--b-width) solid #000
}
[class*=panels_] [class*=container_] /* user part */ {
  background: none
}
[class*=wrapper_] [class*=container_] /* voice part */ {
  background: none
}
/* Panel Buttons */
.button_adcaac .buttonColor_adcaac, .button_adcaac.buttonColor_adcaac {
  background: rgb(0,0,0,0);
  box-shadow: inset 0 0 5px 0px rgb(var(--accent-2));
  text-align: center;
  border: 1px solid #333;
  transition: all 200ms ease;
}
.button_adcaac .buttonColor_adcaac:hover, .button_adcaac.buttonColor_adcaac:hover {
  background: rgba(var(--accent-1),1);
  box-shadow: inset 0 0 5px 2px rgb(var(--accent-2));
  text-shadow: 0 2.5px 3px #000;
  text-align: center;
  border: 1px solid rgb(var(--accent-1));
  color: #fff;
}

/* Main Container */
.chat_a7d72e {
  background-color: transparent;
}
.title_a7d72e {
  margin-bottom: var(--gap-size);
}
.content_a7d72e:before {
  box-shadow: none;
}

/* EVEN GROUND (set server header and title bar) */
.clickable_fd6364, .theme-dark .themed_e44302 {
  height: 53px;
}

/*If LOADING*/
.wrapper_cdfd51, .wrapper_b211c6 {
  background: none
}

/* Tooltips */
.theme-dark .tooltipPrimary_b6c360, .theme-light .tooltipPrimary_b6c360 {
  background: linear-gradient(135deg, rgb(var(--accent-1)) 10%, rgb(var(--accent-2)));
}
.theme-dark .tooltipPrimary_b6c360 .tooltipPointer_b6c360, .theme-light .tooltipPrimary_b6c360 .tooltipPointer_b6c360 {
  border-top-color: rgb(var(--accent-1));
}
.moreUsers_c47562 {
  background: rgb(var(--accent-1))
}
.popout_c5b389 {
  background: linear-gradient(135deg, rgb(var(--accent-1)) 10%, rgb(var(--accent-2)));
}

/* Autocomplete */
.theme-dark .autocomplete_f23da8 {
  background: var(--glass);
  box-shadow: none;
}
.autocompleteAttached_bea0d0 {
  bottom: calc(100% + 0px);
}
.scroller_dcade6::before {
  content: "";
  background: var(--glass);
  position: sticky;
  height: 100%;
  width: 100%;
  z-index: 4;
}

/* Chat Window */
.chatContent_a7d72e {
  background: var(--glass);
  border: var(--b-width) solid #000;
}
.theme-dark .form_a7d72e:before {
  background: none
}

/* Message Buttons */
.wrapper_ef319f {
  background: var(--accent-linear);
}
.button_ef319f {
  transition: background 200ms ease;
}
.button_ef319f:hover {
  background:rgba(0, 0, 0, 0.2)
}
/* Context Menus */
.menu_d90b3d {
  background: var(--accent-linear)
}
/* Context Menu Items */
.item_d90b3d {
  transition: 200ms ease;
}
.customItem_d90b3d:hover > .button_a24e84 {
  background: rgba(var(--accent-1),1);
  box-shadow: inset 0 0 5px 2px rgb(var(--accent-2));
  text-shadow: 0 2.5px 3px #000;
  border: 1px solid rgb(var(--accent-1));
  color: #fff;
}
.button_a24e84 {
  background: rgb(0,0,0,0.2);
  box-shadow: inset 0 0 5px 0px rgb(var(--accent-2));
  border: 1px solid #333;
  transition: all 200ms ease;
}
.colorDefault_d90b3d.focused_d90b3d {
  background:rgba(0, 0, 0, 0.2)
}
.colorDanger_d90b3d.focused_d90b3d {
  background: rgba(250, 128, 114,1);
  box-shadow: inset 0 0 5px 2px rgb(71, 36, 32);
  text-shadow: 0 2.5px 3px #000;
  border: 1px solid salmon;
  color: #fff;
}

/* // EMBEDS AND EXTRA CHAT SHIT ################################################### */
.theme-dark .wrapperAudio_f316dd {
  background: var(--glass);
  border: var(--b-width) solid #000;
}
.mediaBarInteraction_f7877e:hover .mediaBarGrabber_f7877e /*progress dot*/{
  background-color: rgb(var(--accent-1));
}
.mediaBarProgress_f7877e {
  background: var(--accent-linear);
}
/*pseudos*/
.mediaBarProgress_f7877e:before {background-color: rgb(var(--accent-1));}
.mediaBarProgress_f7877e:after {background-color: rgb(var(--accent-2))}

.mediaBarWrapper_f7877e {
  background-color: rgb(12, 12, 12);
}
.buffer_f7877e /* buffer line */{
  background-color: rgb(var(--accent-2))
}

/*media bar pseudos for cleanup*/
.mediaBarWrapper_f7877e:before, .mediaBarWrapper_f7877e:after {
  background-color: rgb(12,12,12);
}
/* // EMBEDS AND EXTRA CHAT SHIT ################################################### */

/* Channel Header */
.theme-dark .themed_e44302 {
  border-radius: 0 var(--b-radius) 0 0;
  border: var(--b-width) solid #000;
  background: var(--glass)
}

/* Member List */
.container_cbd271 {
  margin-left: var(--gap-size);
  border-radius: 0 0 var(--b-radius) 0;
  background: var(--glass);
  border: var(--b-width) solid #000;
  height: auto;
}
.member_cbd271, .members_cbd271 {
  background-color: transparent;
}

/* BOT icons */
.botTagRegular_c89c9a {
  background: var(--accent-linear);
}

/* mentioned */
.mentioned_d5deea:before {
  background: rgb(var(--accent-1))
}
.mentioned_d5deea {
  background: linear-gradient(to right, rgba(var(--accent-1), 0.3), rgba(var(--accent-2), 0.2));
}
.message_d5deea.mentioned_d5deea.selected_d5deea, .mouse-mode.full-motion .mentioned_d5deea:hover {
  background: linear-gradient(to right, rgba(var(--accent-1), 0.5), rgba(var(--accent-2), 0.4))
}

/* unread/"NEW" icons */
[class*=mention_]{
  background: linear-gradient(to right, rgb(var(--accent-1)), rgb(var(--accent-2)))
}
[class*=numberBadge_] {
  background: linear-gradient(45deg, rgb(var(--accent-1)), rgb(var(--accent-2)))
}

.divider_fc5f50 {
  border-color: rgb(var(--accent-2));
}
.unreadPill_fc5f50 {
  background-color: rgb(var(--accent-1));
}
.unreadPillCapStroke_fc5f50 {
  fill: rgb(var(--accent-1));
  color: rgb(var(--accent-1));
}

.channelTextArea_a7d72e {
  background: var(--glass)
}
.themedBackground_d0696b {
    background: none;
}
.scrollableContainer_d0696b {
  background: none
}
.newMessagesBar_cf58b5 {
    background: var(--accent-linear)
}

/* ——————————————— User Settings ———————————————— */


/* Remove Overall Background*/
.layer_d4b6c5, .standardSidebarView_c25c6d {
  background: none;
}

/* Tag :) */
.sidebar_c25c6d {
  padding: 10px 6px 60px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  font-size: 1.5em;
}
.sidebar_c25c6d::after {
  content: "MorbidMeta";
  font-family: 'Montserrat', sans-serif;
  margin: 10px 0 10px;
  background: linear-gradient(to top, rgb(var(--accent-1)), rgb(var(--accent-2)));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/* Left Sidebar */
.sidebarRegion_c25c6d {
  border-radius: var(--b-radius) 0 0 var(--b-radius);
  border: var(--b-width) solid #000;
  overflow: hidden;
}
.sidebarRegionScroller_c25c6d {
  background: var(--glass);
}

/* Right Container */
.contentRegion_c25c6d {
  background: none;
  margin-left: var(--gap-size);
  border: var(--b-width) solid #000;
  border-radius: 0 var(--b-radius) var(--b-radius) 0;
} 
.contentRegionScroller_c25c6d {
  background: var(--glass)
}

/* —————————————— Direct Messages ——————————————— */


/* "Friends" Page */
.container_c2739c {
  background: none
}
.tabBody_c2739c {
  margin-top: var(--gap-size);
}
.tabBody_c2739c:before {
  box-shadow: none;
}
/* Friends List */
.peopleColumn_c2739c {
  background: var(--glass)
}
/* Direct Messages Column */
.searchBar_f0963d .searchBarComponent_f0963d {
  background: rgb(0,0,0,0);
  box-shadow: inset 0 0 5px 0px rgb(var(--accent-2));
  text-align: center;
  border: 1px solid #333;
  transition: all 200ms ease;
}
.searchBar_f0963d .searchBarComponent_f0963d:hover {
  background: rgba(var(--accent-1),1);
  box-shadow: inset 0 0 5px 2px rgb(var(--accent-2));
  text-shadow: 0 2.5px 3px #000;
  text-align: center;
  border: 1px solid rgb(var(--accent-1));
  color: #fff;
}
.privateChannels_f0963d {
  background: var(--glass);
  margin-bottom: var(--gap-size);
  border: var(--b-width) solid #000;
}
.theme-dark .scroller_c47fa9 {
  background: none;
}
.selected_f5eb4b {
  background: linear-gradient(135deg, rgba(var(--accent-1), 1), rgba(var(--accent-2), 1));
}

/* Active Now */
.inset_c0f6a6, .section_cd82a7 {
  background-color: transparent !important;
}
.header_bf550a {
  text-align: center;
}
.header_bf550a::after {
  content: "";
  display: flex;
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, rgba(var(--accent-1), 0), rgba(var(--accent-2), 1), rgba(var(--accent-1), 0));
}
.nowPlayingColumn_c2739c {
  background: var(--glass);
  border: var(--b-width) solid #000;
  margin-left: var(--gap-size);
}
.wrapper_cd82a7 {
  background: rgba(0,0,0,0.5);
  border: 1px solid #333;
  transition: all 200ms ease;
}
.theme-dark .outer_c0f6a6.active_c0f6a6, .theme-dark .outer_c0f6a6.interactive_c0f6a6:hover {
  background-color: transparent;
}
.wrapper_cd82a7:hover {
  background: rgba(var(--accent-1),1);
  box-shadow: inset 0 0 5px 2px rgb(var(--accent-2));
  text-shadow: 0 2.5px 3px #000;
  border: 1px solid rgb(var(--accent-1));
  color: #fff;
}
.scroller_bf550a {
  border: 0;
  margin: 0;
}
.container_bf550a {
  background: none;
}
/* Profile Panel */
.profilePanel-2PWEok {
  background: var(--glass);
  margin-left: var(--gap-size);
  border-radius: 0 0 var(--b-radius) 0;
  border: var(--b-width) solid #000;
}
.userPanelInnerThemed-2xZFjl, .userProfileOuterUnthemed-2b2rsv {
  background: none
}
/* User Profile */
.userPanelInnerThemed_c69a7b {
  --profile-gradient-overlay-color: hsla(0,0%,0%,0.2);
  background: linear-gradient(135deg, var(--profile-gradient-primary-color),var(--profile-gradient-secondary-color));
  background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}
.container_c9ccf6 /* user and display name */ {
  justify-content: center;
}
.nickname_c9ccf6 /* display name */ {
  background: linear-gradient(to right, var(--profile-gradient-primary-color) 20%,var(--profile-gradient-secondary-color), var(--profile-gradient-primary-color) 80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 1s linear infinite forwards;

    text-align: center;
}
.info_e86508 /* user name */ {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.customStatus__3aa7f {
  text-align: center;
}

/* Modals */
.backdrop__1a911 {
  background: linear-gradient(135deg, rgba(var(--accent-1), 1), rgba(0,0,0,1) 25%, rgba(0,0,0,1) 75%, rgba(var(--accent-2), 1)) !important;
  animation: backdrop-in 300ms ease 1 forwards normal;
}
.root_f9a4c9 {
  background: rgba(0, 0, 0, 0.8);
}
.footer_f9a4c9 {
  background: none
}
/* Events */
.header-1sd0RU {
  background: none;
}
.card-8UsK4b {
  background: rgb(0,0,0,0);
  box-shadow: inset 0 0 5px 0px rgb(var(--accent-2));
  border: 1px solid #333;
  transition: all 200ms ease;
}
.card-8UsK4b:hover {
  background: rgba(var(--accent-1),1);
  box-shadow: inset 0 0 5px 2px rgb(var(--accent-2));
  text-shadow: 0 2.5px 3px #000;
  color: #fff;
}
.contentContainer-BWAau5 {
  background: none;
}
.lookOutlined_dd4f85.colorPrimary_dd4f85 {
  background: rgb(0,0,0,0.5);
  box-shadow: inset 0 0 5px 0px rgb(var(--accent-2));
  border: 1px solid #333;
  transition: all 200ms ease;
}
.lookOutlined_dd4f85.colorPrimary_dd4f85:hover {
  background: rgba(var(--accent-1),1);
  box-shadow: inset 0 0 5px 2px rgb(var(--accent-2));
  text-shadow: 0 2.5px 3px #000;
  text-align: center;
  border: 1px solid rgb(var(--accent-1));
  color: #fff;
}




/* -- BETTERDISCORD -- */

/* BD Error Modal */
.lookFilled_dd4f85.colorBrand_dd4f85, .bd-tab-item.selected {
  background: rgb(0,0,0,0);
  box-shadow: inset 0 0 5px 0px rgb(var(--accent-2));
  text-align: center;
  border: 1px solid #333;
  transition: all 200ms ease;
}
.lookFilled_dd4f85.colorBrand_dd4f85:hover, .bd-tab-item.selected:hover {
  background: rgba(var(--accent-1),1);
  box-shadow: inset 0 0 5px 2px rgb(var(--accent-2));
  text-shadow: 0 2.5px 3px #000;
  text-align: center;
  border: 1px solid rgb(var(--accent-1));
  color: #fff;
}
.bd-addon-error {
  background: rgb(0,0,0,0);
  box-shadow: inset 0 0 5px 0px rgb(var(--accent-2));
  border: 1px solid #333;
  height: 88px;
  transition: all 200ms ease;
  overflow: hidden;
}
.bd-addon-error:hover {
  background: rgba(var(--accent-1),1);
  box-shadow: inset 0 0 5px 2px rgb(var(--accent-2));
  text-shadow: 0 2.5px 3px #000;
  border: 1px solid rgb(var(--accent-1));
  color: #fff;
}
.bd-addon-error.expanded:not(code) {
  background: rgba(var(--accent-1),1);
  box-shadow: inset 0 0 5px 2px rgb(var(--accent-2));
  text-shadow: 0 2.5px 3px #000;
  border: 1px solid rgb(var(--accent-1));
  color: #fff;
  height: 500px;
}
.bd-addon-error-stack code {
  background: #000
}

.theme-dark .hljs-title, .theme-dark .hljs-title.class_, .theme-dark .hljs-title.class_.inherited__, .theme-dark .hljs-title.function_ {
  color: salmon
}

.bd-switch input:checked+.bd-switch-body {
  background: rgb(var(--accent-2));
}

/* Toasts */
.bd-toast {
  background: var(--glass)
}
.bd-toast.toast-info {
  background-color: rgba(74, 144, 226, var(--bg-opacity));
}
.bd-toast.toast-success {
  background-color: rgba(67, 181, 129, var(--bg-opacity));
}

/* Themes Page */
.bd-addon-list .bd-addon-card {
  background: var(--glass);
  border: var(--b-width) solid #000;
}
.bd-addon-list .bd-addon-header {
  background: var(--glass)
}

/* Notice */
.noticeWrapper_8z511t {
  margin-bottom: var(--gap-size);
  border-radius: var(--b-radius) !important;
}
.colorInfo__680aa {
  background: rgba(74, 144, 226, var(--bg-opacity));
}




/* -- VENCORD -- */

/* Universal Changes */

.checked_cebd1c {
  background: var(--accent-linear);
}

/* General Settings */
.vc-settings-card.vc-settings-donate > div {
  height: 128px;
}
.vc-settings-card.vc-settings-donate > img {
  display: none;
}
.vc-settings-card.vc-settings-donate::after {
  --gif:url('https://github.com/demonetizeddark/wallpaperrepository/blob/main/a_e2b69aabc7b7ba15d440f3f29c865d49.gif?raw=true');
  content: "";
  background: var(--gif) center/100% no-repeat;
  mask-image: var(--the-hex);
  margin-left: auto;
  height: 128px;
  width: 128px;
}